
<header id="title-block-header" class ="page-full">
<div class="quarto-title-banner-image"></div>
<div class="quarto-title-banner page-columns page-full">

$if(title)$<div class="quarto-title column-page">
  <h1 class="title">$title$</h1>
  </div>$endif$
$if(subtitle)$
<p class="subtitle">$subtitle$</p>
$endif$
$for(author)$
<p class="author">$author$</p>
$endfor$

$if(date)$
<p class="date">$date$</p>
$endif$
$if(abstract)$
<div class="abstract">
<div class="abstract-title">$abstract-title$</div>
$abstract$
</div>
</div>
$endif$
</header>
